body {
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: rgba(255, 130, 230, 0.5);
}

hr {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

div.header {
  padding: 0px;
  margin: 0px;
  border-top: 5px ridge rgba(70, 70, 70, 1);
  border-bottom: 5px ridge rgba(70, 70, 70, 1);
  background: url("zeldadefault.png") right top;
  background-repeat: no-repeat;
  background-color: rgba(255, 130, 230, 0.5);
}

div.header h1 {
  width: 75%;
  margin: 25px;
  padding: 0px;
  text-align: center;
  font-size: 100px;
  color: black;
  text-shadow: 5px 2px lightblue;
}

#showBar {
  position: fixed;
  right: 0;
  width: 7%;
  height: auto;
  display: block;
  overflow: hidden;
  background-color: rgba(30, 30, 30, 0.5);
  border: 2px solid white;
  border-right: none;
  cursor: pointer;
  transition: width 500ms ease;
}

#showText {
  display: block;
  border: 2px solid white;
  border-right: none;
  color: white;
  width: 98%;
  float: right;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 4px;
  padding: 5px;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 1);
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);
}

div.bars {
  display: none;
  overflow: hidden;
  width: 90%;
  height: auto;
  margin: 10px auto;
  background-color: rgba(30, 30, 30, 0.5);
  border: 2px solid black;
}

div.bars span, div.bars a{
  display: block;
  border: 2px solid white;
  color: white;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 1);
  transform: skewY(-10deg);
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

div.bars span:hover {
  background-color: red;
  border-color: black;
  color: black;
}

div.bars a:hover, #showText:hover {
  background-color: rgba(0, 255, 100, 1);
  border-color: black;
  color: black;
}

div.infield {
  display: block;
  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: lightgray;
  border: 2px ridge rgba(150, 150, 150, 1);
}

div.readArea {
  display: block;
  width: 50%;
  margin: auto;
  padding: 0px;
}

#checker {
  display: block;
  margin: 10px;
}

#displayArea {
  display: block;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: auto;
  overflow: hidden;
  background-color: rgb(30, 30, 30, 1);
}

div.tD {
  display: inline;
  float: left;
  width: 50%;
  height: auto;
  border: 2px solid lightgray;
  background-color: rgba(0, 255, 100, 1);
  margin: 10px;
  padding: 0px;
}

#textDisplay {
  text-align: center;
  font-size: 100px;
  margin: auto;
  padding: auto;
}

div.uD {
  display: inline;
  float: right;
  width: 50%;
  height: auto;
  border: 2px solid pink;
  background-color: rgba(0, 150, 255, 1);
  margin: 10px;
  padding: 0px;
}

#unicodeDisplay {
  text-align: center;
  font-size: 100px;
  margin: auto;
  padding: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.container1 {
  position: relative;
  background-color: rgba(30, 30, 30, 1);
  border: 2px solid white;
  margin: auto;
  width: 300px;
  height: 300px;
}

div.animation1 {
  position: absolute;
  background-color: hotpink;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  border-radius: 25px 25px;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {background-color: hotpink; left: 0px; top: 275px;}
  20% {background-color: hotpink; left: 137.5px; top: 0px;}
  40% {background-color: hotpink; left: 275px; top: 275px;}
  60% {background-color: hotpink; left: 0px; top: 137.5px;}
  80% {background-color: hotpink; left: 275px; top: 137.5px;}
  100% {background-color: hotpink; left: 0px; top: 275px;}
}

#animateButton {
  margin: auto;
  display: none;
}

#stopButton {
  margin: auto;
  display: none;
}

div.niceCard {
  position: relative;
  background-color: white;
  border: 2px ridge rgba(50, 50, 50, 1);
  width: 30%;
  margin: 10px auto;
}

div.niceCard h1 {
  text-align: center;
}

div.pic {
  display: block;
  position: relative;
  max-width: 98%;
  height: auto;
  margin: 10px;
}

div.pic img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

div.info {
  display: inline-block;
  position: relative;
  width: 95%;
  height: auto;
  overflow: hidden;
  background-color: white;
  margin: 5px;
}

p.sub {
  display: inline-block;
  position: relative;
  float: left;
  width: 40%;
  height: auto;
  margin: 2px;
  padding: 10px;
  background-color: lightgray;
}

p.front {
  display: inline-block;
  position: relative;
  float: left;
  width: 58%;
  height: auto;
  margin: 2px;
  padding: 10px;
  font-size: 14px;
}

div.container2 {
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 2px solid black;
  background-color: rgba(0, 190, 200, 1);
  margin-bottom: 50px;
}

div.container2 p {
  margin-left: 5px;
}

div.blackSquare {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: rgba(30, 30, 30, 1);
  border-radius: 15px 15px;
  margin: 0 auto;
  transition: height 4s ease, width 2s;
  overflow: hidden;
}

div.blackSquare:hover {
  height: 100%;
  width: 100%;
}

div.hiText {
  display: block;
  position: relative;
}

div.hiText p {
  font-size: 250px;
  color: white;
  padding: 0px;
}

#vocab {
  border-collapse: collapse;
  margin: 20px auto;
  width: 50%;
}

#vocab, #vocab th, #vocab td {
  border: 1px solid lightgray;
}

#vocab th, #vocab td {
  padding: 8px;
  font-size: 20px;
}



#vocab tr:nth-child(even) {background-color: #f2f2f2;}

#vocab tr:nth-child(odd) {background-color: white;}

#vocab tr:hover {
  background-color: lightgray;
}

#vocab th {
  background-color: rgba(10, 170, 50, 1);
  color: white;
}


div.footer {
  float: bottom;
  padding: 0px;
  width: 100%;
  height: auto;
  margin-top: 1000px;
  
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgba(255, 130, 230, 0);
}

div.footer p {
  margin: 0px;
  padding: 0px;
  text-align: center;
} 